.container {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width: 100%;
    flex-direction: column;
}

.Logo {
    width: 50%;
    Height: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.Btn{
   display: flex;
   width: 300px;
   height: 75px;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   background-color: rgba(72, 133, 237, 255);
   text-align: center;
   font-size: 1.5em;
   text-emphasis: strong;
   font-weight: bold;
   color: white;
}

.Btn:Hover {
   display: flex;
   width: 300px;
   height: 75px;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   background-color: rgba(72, 133, 237, 255);
   text-align: center;
   font-size: 1.5em;
   text-emphasis: strong;
   font-weight: bold;
   color: gold;
    }

.Main-header {
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 20px;
    color: white;
  }
.MasterBox{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width: 100%;
    padding: 30px;

}


.box{
    flex: 1;
    justify-content: center;
    background-color: lightgrey;

    }

.MainHeading {
    font-size: 1.5em;
    color: blue;
    text-align: center;
}

.IntroText{
    font-size: large;
    text-emphasis: strong;
    color: black;
    text-align: center;
}

.Icon{
    height: 50%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display:block;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .App {
    text-align: center;
}
