.MainHeading {
    font-size: 1.5em;
    color: blue;
    text-align: center;
}

.IntroText{
    font-size: large;
    text-emphasis: strong;
    color: black;
    text-align: center;
}

.Btn{
    display: flex;
    width: 300px;
    height: 75px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(72, 133, 237, 255);
    text-align: center;
    font-size: 1.5em;
    text-emphasis: strong;
    font-weight: bold;
    color: white;
 }
 
 .Btn:Hover {
    display: flex;
    width: 300px;
    height: 75px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(72, 133, 237, 255);
    text-align: center;
    font-size: 1.5em;
    text-emphasis: strong;
    font-weight: bold;
    color: gold;
 }
 .Icon{
    height: 40%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display:block;
}

.item h5{
    margin: 20px 20px 20px 20px;
    padding: 20;
    font-size: medium;
    text-emphasis: strong;
    color: blue;
    text-align: left;
}
.item p{
    margin: 20px 20px 20px 20px;
    padding: 20;
}